button {
  width: 200px;
  padding: 10px 5px;
  margin: 0;
  color: #eee;
  text-align: center;
  text-decoration: none;
  background-color: #2e2e2e;
  border: 1px solid #2e2e2e;
  border-radius: 8px;

  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

  &:hover {
    color: #222;
    background-color: #222;
  }
}
