.Videolist{	
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @media screen and(max-width: 965px){
  align-self: center;
  	flex-direction: column;
  }
}
.Video{
  width: 28em;
  white-space: nowrap;
  align-self: center;
  height: auto;
  margin-top: 1.25em;
  margin-right: 0.375em;
  margin-bottom: 1.25em;
  margin-left: 0.875em;
  @media screen and(max-width: 500px){
  	max-width: 100%;
  }
}

.videoTitle{
	overflow: hidden;
}
.videoPlayer{

}
img{
  position: relative;
  z-index: 2;
  width: 28em;
  max-width: 100%;
  cursor: pointer;
  @media screen and(min-width: 965px){
  	
  }
}